@media screen and (max-width: 600px){
.nav_elem{
list-style-type: none; display: list-item; margin-right: 5px; padding: 5px;
}
.navig{
background:black; color:#ecf0f1; min-height: 15vh; border: 0.5vh solid white; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-end;
}

.img_hero{
	background-image: url(pic_back1.jpg);
        background-color: white;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
}
}

@media screen and (min-width: 600px){
.nav_elem{
list-style-type: none; display: inline; margin-right: 5px; padding: 5px; 
}
.navig{
background:black; color:#ecf0f1; min-height: 5vh; border: 0.5vh solid white; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-end;
}

.img_hero{
	background-image: url(pic_back1.jpg);
        background-color: white;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
}
}

.header{
top: 0; min-height: 15vh; background:#1b1b1b; color:#ecf0f1; display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.img_hero_txt{
margin-top: 5%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; color:#ecf0f1; font-size: 3vh; word-break: normal; text-align: center;
}

.aside{
margin: 5%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
}

.aside_elem{
background:black; color:#ecf0f1; border: 0.5vh solid grey; padding: 5px; margin: 5px;
}

.aside_elem_1{
margin-right: 5px; padding: 5px; list-style-type: none;
}

.aside_elem_2{
margin-right: 5px; padding: 5px; list-style-type: none;
}

.footer{
bottom: 0; min-height: 10vh; background:#1b1b1b; color:#ecf0f1; display: flex; flex-direction: column; align-items: center; justify-content: center; word-break: break-word;
}

.ssilka{
   color: white;
   line-height: 1.2;
   position: relative;
   padding: 0 1.5vh;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 2vh;
}
.ssilka:after {
   content: "";
   height: 100%;
   min-width: 0.5vh;
   background: #34495e;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: all 0.5s;
}
.ssilka:hover:after {
   min-width: 100%;
   background: #95a5a6;
   opacity: 0.35;
}

#Top {
	position: fixed;
	display: inline-block;
	right: 10%;
	bottom: 5vh;
	text-align: center;
	color: white;
	border-radius: 1vh;
	background: olive;
   	text-decoration: none;
	opacity: 0;
	visibility: hidden;
  	transition: all .3s ease-in-out;
}

#Top.show {
	opacity: 1;
	visibility: visible;
	right: calc(5%);
}

.table_f{
background: #eedc82; color: black; font-family: Times, Times New Roman, serif;
}

.table_t{
background: #013220; color: #ecf0f1;
}

.table_d{
background: #556832; color: #ecf0f1;
}

p{
margin: 5px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 2vh;
}

.font_shadow{
-webkit-text-stroke: 0.07vh #000000; text-shadow: 0.4vh 0.4vh 0.8vh #1b1b1b;
}

td{
font: 2vh sans-serif; 
}

.font_b{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 3vh;
text-align: center;
margin:2%;
}
.grid_page{
	display:grid;
	grid-template-areas: "headnav" "cont" "bott";
	grid-template-rows: auto 1fr auto;
	align-items: stretch;
}
#headnav{
	grid-area: headnav;
}
#content{
	grid-area: cont;
	background: white;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch; 
	justify-content: center;	
}
#bottom{
	grid-area: bott;
}

body{
min-width: 300px;
}


 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}

.none{
display: none;
}

@media print {
 
#titlepage{
	display: block;
}
#metapage{
	page-break-before: always;
	display: block;
}
#base{
 	-webkit-print-color-adjust: exact; 
}
#conc{
	display: block;
}
.grid_box{
	padding: 5%;
	gap: 1vh;
	display: grid;
	grid-template-areas:	"b1 b1 b2 b3" 
				"b1 b1 b4 b5" 
				"b6 b7 b8 b8"
	;
	grid-template-rows: repeat(3,auto);
	grid-template-columns: repeat(4,auto);

	align-content: center;
	justify-content: center;
	align-items: stretch;
	justify-items: center;
}
.vid{
	grid-area:b1; 
	justify-self: stretch;
	width: 100%;
}

.img{
	box-shadow: 0 0 2vh 0.2vh #000;	
	width: 100%;
}

.nav_elem{
list-style-type: none; display: list-item; margin-right: 5px; padding: 5px;
}
.navig{
background:black; color:#ecf0f1; min-height: 15vh; border: 0.5vh solid white; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-end;
}
}